body { padding: 0; margin: 0 }
.generalPage {
  display: flex;
  height: 70px;
}

.space {
  flex: 0.25;
}

.game {
  position: absolute;
  left: 50%; 
  top: 57%; 
  transform: translate(-50%, -50%);
  
}

